*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $body ;
    @include text;
}

h1 {
    @include big-headline;
}

h2 {
    @include headline;
}

h3 {
    @include subheadline;
}

.cta {
    width: max-content;

    &:hover{
        cursor: pointer;
        path{
            transform: rotate(30deg);
        }

        .circle {
            transform: scale(0.9);
        }
    }

    @media only screen and (max-width: $md) {
        transform: scale(0.8);
    }

    path{
        transform-origin: center center;
        transition: transform .3s ease-out;
    }

    .circle {
        transform-origin: center center;
        transition: transform .3s ease-out;
    }
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
