*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $body;
    @include text;
}

h1 {
    @include big-headline;
}

h2{
    @include headline;
}

h3{
    @include subheadline;
}

.cta {
    display: flex;
    align-items: center;
    justify-content: center;
    .circle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 9rem;
        height: 9rem;
        background: $white;
        border-radius: 50%;
    }
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
